<template>
  <div class="votes" v-if="votes && votes.length">
    <swiper class="votes-slider" :options="swiperOptions" ref="slider" @slideChange="onSlideChange">
      <swiper-slide v-for="(i, index) in votes" v-bind:key="index" class="votes-slider-item carousel-cell">
        <a :href="'https://vmeste-region.ru/votes/' + i.id" target="_blank">
          <div class="card-thumbnail" :style="{backgroundImage: 'url(' + i.thumbnail.url + ')'}">
            <div class="card-thumbnail-content">
              <div class="from-to">
                <span>c {{i.date | moment('D MMMM')}}</span>
                <span>по {{i.expire | moment('D MMMM')}}</span>
              </div>
            </div>
          </div>
          <div class="card-content">
            <div class="card-content-header">{{i.title}}</div>
          </div>
        </a>
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import Vue from "vue";
import { mapGetters } from "vuex";
import "swiper/dist/css/swiper.css";
import { swiper, swiperSlide } from "vue-awesome-swiper";

const moment = require("moment");
require("moment/locale/ru");

Vue.use(require("vue-moment"), {
  moment
});

export default {
  name: "VotesSlider",
  components: { swiper, swiperSlide },
  props: {
    perPage: {
      type: String,
      default: "6"
    }
  },
  data() {
    return {
      swiperOptions: {
        slidesPerView: 3,
        slidesPerGroup: 3,
        spaceBetween: 30
      }
    };
  },
  created: function() {
  	/** Получаем страницу из API до отрисовки содержимого  **/
    this.$store.dispatch("getVotes", { perPage: this.perPage });
  },
  computed: {
    ...mapGetters(["votes", "pagination"])
  },
  methods: {
    onSlideChange: function() {
      const activeIndex = this.$refs.slider.swiper.activeIndex;
      /** Получаем элементы, если активный слайд последний и есть неподгруженные страницы из API **/
      if (
        activeIndex === this.votes.length / 2 &&
        this.pagination.hasMorePages
      ) {
        this.$store.dispatch("getVotes", {
          perPage: this.perPage,
          page: this.pagination.currentPage + 1
        });
      }
    }
  }
};
</script>

<style scoped lang="scss">
.votes {
  width: 1176px;
  overflow: hidden;
  margin: 20px auto;
  &-slider {
    border-radius: 6px;
    &-item {
      height: 468px;
      border-radius: 6px;
      text-align: center;
      font-size: 38px;
      font-weight: 700;
      background-color: #fff;
    }
    img {
      width: 100%;
    }
    .card-thumbnail {
      position: relative;
      height: 168px;
      border-radius: 6px 6px 0 0;
      background-size: cover;
      background-position: center;
      &-content {
        position: absolute;
        border-radius: inherit;
        height: 84px;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0.4) 0,
          rgba(0, 0, 0, 0.2) 43%,
          hsla(0, 0%, 48%, 0) 62%
        );
        z-index: 1;
        color: #fff;
      }
      .from-to {
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0 24px;
        font-size: 11px;
        color: #fff;
        span:first-child {
          margin-right: 3px;
        }
      }
    }
    .card-content {
      border-radius: 0 0 6px 6px;
      padding: 0 24px 24px;
      text-align: left;
      &-header {
        margin-top: 24px;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
</style>
