<template>
  <div id="app">
    <div class="page-title">Front-end Vue.js: тестовое</div>
    <votes-slider />
  </div>
</template>

<script>
import VotesSlider from "./components/VotesSlider";
export default {
  name: "Votes",
  components: { VotesSlider }
};
</script>

<style lang="scss">
@import "./assets/normalize.scss";
body {
  background-color: #f7f6f8;
}
a {
  text-decoration: none;
  color: inherit;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.page-title {
  margin-top: 20px;
  font-size: 21px;
  color: #333;
}
</style>
